$panel-base-color: #EB974E !default;

$tab-line-height:12px !default;
$tab-font-size:11px !default;
$tab-color-active: #fff !default;
$tab-color-over: #fff !default;

$tab-background-gradient: color-stops(#ffa568, #ffa568) !default;
$tab-background-gradient-active:  color-stops(#F9690E, #F9690E) !default;
$tab-background-gradient-over:  color-stops(#FFA76C, #FFA76C) !default;
$tab-background-gradient-disabled: 'tab-disabled' !default;
$tab-color : #fff !default;